.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.todo-input {
  border-radius: 4px 0 0 4px;
  width: 320px;
  font-size: 16px;
}

.todo-input::placeholder {
  color: #eef3f9;
}

@media screen and (max-width: 500px) {
  .todo-input {
    width: 70%;
  }
}
.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgba(200, 221, 238, 1);
}

.todo-button.edit {
  color: #51658a;
  background: linear-gradient(
    90deg,
    rgb(200, 221, 238) 0%,
    rgb(102, 179, 243) 100%
  );
  padding: 16px 22px;
}
