.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.color1 > div {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.color2 > div {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.color3 > div {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.color4 > div {
  background: linear-gradient(
    90deg,
    rgb(23, 173, 219) 0%,
    rgb(38, 253, 171) 100%
  );
}
/* .todo-container:nth-child(2) > .todo-row {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
} */

/* 每行颜色不同 */
/* .todo-container:nth-child(5n + 1) > div {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-container:nth-child(5n + 2) > div {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-container:nth-child(5n + 3) > div {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-container:nth-child(5n + 4) > div {
  background: linear-gradient(
    90deg,
    rgb(23, 173, 219) 0%,
    rgb(38, 253, 171) 100%
  );
} */
